@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
@import url("https://use.typekit.net/ffi6cgq.css");

* {
    font-family: "textbook-new-web", Consolas;
}

html,
body {
    background: #efefef;
    color: #2d2d2d;
}

#Page {
    padding: 30px;
    margin: 30px auto;
    background: #fff;
    width: 90%;
    max-width: 1400px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "ff-meta-serif-web-pro";
    color: #000;
}

pre,
pre * {
    font-family: Hack, Consolas, 'Courier New', monospace !important;
}

p {
    line-height: 1.5em;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}

.post-excerpt {
    margin: 30px 0;
}

.post-excerpt .post-meta {
    opacity: 0.5;
    margin: 15px 0;
}